{% extends 'baseadmin.html' %}

{% block title %}Panel de Administración{% endblock %}

{% block body %}

<!--MENSAJE DE ALERTA SweetAlert2-->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
    <script type="text/javascript">
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });
        Toast.fire({
            icon: "success",
            title: "{{message}}"
        });
    </script>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<!--MENSAJE DE ALERTA PARA ELIMINACION SweetAlert2-->
<script>
    function confirmarEliminacion(url) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });
    }
</script>

<div class="container p-5 mt-3">
    <h2 class=" text-center alert alert-danger py-5">Registro de Clientes</h2>
    <div class="row">
        <div class="row text-center">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Usuarios Registrados</h5>
                        <p class="card-text">Total: {{ usuarios|length }}</p>
                        <a href="#" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Clientes Registrados</h5>
                        <p class="card-text">Total: {{ usuarios|length }}</p>
                        <a href="#" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-3">
            <h2 class="text-center">Listado de Usuarios</h2>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Agregar Usuario
            </button>
            <br>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered"> <!--Centrar el formulario-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Registro de Usuarios</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post">
                                <div class=" form-floating mb-2">
                                    <input type="text" class="form-control" name="name" id="name"
                                        aria-describedby="helpId" placeholder="Nombres"  required />
                                    <label for="nombre" class="form-label">Nombres</label>
                                </div>
                                <div class=" form-floating mb-2">
                                    <input type="text" class="form-control" name="email" id="email"
                                        aria-describedby="helpId" placeholder="Correo Electronico" required />
                                    <label for="email" class="form-label">Correo Electronico</label>
                                </div>
                                <div class=" form-floating mb-2">
                                    <input type="text" class="form-control" name="phone" id="phone"
                                        aria-describedby="helpId" placeholder="Telefono" required />
                                    <label for="phone" class="form-label">Telefono</label>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <!-- Tabla de clientes -->
            <table class="table table-striped table-hover">
                <thead class=" table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOMBRE COMPLETO</th>
                        <th scope="col">CORREO ELECTRÓNICO</th>
                        <th scope="col">ROLES</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in usuarios %}
                    <tr>
                        <td scope="row">{{loop.index}}</td>
                        <td>{{u.password}}</td>
                        <td>{{u.email}}</td>
                       <!--  <td>{{u.id_rol}}</td> -->
                        <td>        
                            <a href="/edit/{{d['id']}}" type="button" class="btn btn-success btn-sm">Editar</a>
                            <a href="javascript:void(0);" onclick="confirmarEliminacion('/borrar/{{d.id}}')"
                                class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}