{% extends 'baseadmin.html' %}

{% block title %}Agregar Producto{% endblock %}


{% block body %}

<!--MENSAJE DE ALERTA SweetAlert2-->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
    <script type="text/javascript">

        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });
        Toast.fire({
            icon: "success",
            title: "{{message}}"
        });
    </script>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="container p-5 mt-3">
    <!-- agregar un nuevo producto -->
    <div class="row">
        <div class="col-sm-4 left-box">
            <h2 class="text-center alert alert-danger py-4">Agregar Producto</h2>
            <div class="card border-success shadow rounded-4">
                <div class="card-body">
                    <form action="{{ url_for('agregar_producto') }}" method="post">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre del Producto</label>
                            <input type="text" class="form-control mi-input" id="nombre" name="nombre"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="precio" class="form-label">Precio</label>
                            <input type="number" class="form-control border-success" id="precio" name="precio"
                                step="0.01" required>
                        </div>
                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción</label>
                            <textarea class="form-control border-success" id="descripcion" name="descripcion" rows="3"
                                required></textarea>
                        </div>
                        <button type="submit" class="btn btn-outline-success ">Agregar Producto</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-sm-8">
            <h2 class="text-center alert alert-info m-2">Lista de Productos</h2>
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.precio }}</td>
                            <td>{{ producto.descripcion }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}