{% extends 'base.html' %}
{% block title %}Prueba{% endblock title %}
{% block body %}


<button id="scrollBtn" style="display:none;" aria-label="Ir arriba" title="Ir arriba">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
    </svg>
</button>

<!-- Contenedor principal encabezado-->
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
</div>

<!-- Contenedor de columnas pie de pagina -->
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <h3>Column 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <h3>Column 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <h3>Column 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
    </div>
</div>
<!-- Pie de página -->
<hr>
<style>
    a.text-white:hover {
        color: #0d6efd !important;
        /* Cambia este color por el que prefieras */
        text-decoration: underline;
    }
</style>
<footer>
    <div class="container mt-5 bg-dark text-white">
        <div class="row">
            <div class="col-sm-6">
                <h5>APP</h5>
                <p>
                    <a href="https://www.youtube.com/" target="_blank" class="text-white">YouTube</a>
                </p>
                <p>
                    <a href="https://www.facebook.com/" target="_blank" class="text-white">Facebook</a>
                </p>
            </div>

            <div class="col-sm-6">
                <h5>RECURSOS</h5>
                <a href=""></a>
                <p>Acerca de...</p>
                <p>Contactos</p>
            </div>
        </div>
    </div>
    <!-- Pie de página derechos de autor -->
    <div class="container mt-5 bg-light">
        <p class="text-center">Copyright © 2025 - UNAN Managua</p>
    </div>
</footer>
<script>

</script>

{% endblock %}