{% extends 'baseadmin.html' %}
{% block title %}Lista de Productos{% endblock %}

{% block body %}
<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

<h1 class="text-center">Lista de Productos</h1>
<div class="container p-5 mt-3">
    <!-- agregar un nuevo producto -->
    <h2 class="text-center alert alert-danger py-4">Lista de Producto</h2>

    <table id="tablaProductos" class="table table-bordered table-responsive table-striped">
        <thead class="table-dark">
            <tr class="text-center">
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for Productos in productos %}
            <tr>
                <td>{{ Productos.id }}</td>
                <td>{{ Productos.nombre }}</td>
                <td>{{ Productos.precio }}</td>
                <td>
                    <a href="{{ url_for('editar_producto', id=Productos.id) }}">Editar</a>
                    <a href="{{ url_for('eliminar_producto', id=Productos.id) }}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- DataTables JS -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        $('#tablaProductos').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json'
            },
            "pageLength": 10,
            "lengthMenu": [10, 25, 50],
            "order": [[1, "asc"]],
            "columnDefs": [
                { "targets": [0, 2, 3], "orderable": false }
            ]

        });
    });
</script>

{% endblock %}